<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <a class="navbar-brand" href="/">Toy Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/new">New</a>
                </li>
                
                <form class="form-inline my-2 my-lg-0" action="/search" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control mr-sm-2" placeholder="Search" name="txtSearch">
                    </div>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
                </form>
                
            </ul>
        </div>
    </nav>

    <div class="container">
      <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Image</th>
                    <th scope="col">Price</th>
                    <th scope="col">Option</th>
                </tr>
            </thead>
            {{#each toys}}
            <tbody>
                <tr>
                    <td>{{_id}}</td>
                    <td>{{name}}</td>
                    <td><img src="{{picture}}" width="150" height="120"/></td>
                    <td>{{price}}</td>
                    <td>
                        <button type="submit" class="btn btn-danger">
                            <a href="/delete?id={{_id}}" onclick="return confirm('Are you sure?')" style="color:white">
                                Delete
                            </a> </button>
                        <br><br>
                        <button type="submit" class="btn btn-default">
                            <a href="/update?id={{_id}}">
                                Update
                            </a> </button>
                    </td>
                     
                </tr>
            </tbody>
            {{/each}}
        </table>
</div>
</body>
</html>